.container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100dvh;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-content {
    width: 185px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card-content > img {
    width: 100%;
    height: 130px;
}

.text-content {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.text-content .title {
    font-size: 1rem;
    font-weight: bold;
}

.text-content .description {
    font-size: 0.8rem;
    font-weight: bold;
    color: #555;
    margin: 8px 0px 18px 0px;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    color: #68941b;
}
